*{
    margin: 0;
    padding: 0;
}
body{
    margin-top: 40px;
    align-items: center;
    text-align: center;
}
button{
    width: 80px;
    height: 40px;
    font-weight: bold;
    text-align: center;
    margin-left: 80px; 
    margin-top: 50px; 
    background-color: transparent; 
}